body {
  margin: 3px;
  background-image: URL(img/i-cibod.jpg);
  background-size: auto 100vh;
  background-position: center;
  background-repeat: no-repeat;
  font-size: calc(40vh / 13);
}
body > div {
  max-width: 80vh;
  height: 40vh;
  margin: auto;
  margin-top: 5rem;
  padding: 1.2em;
  background-color: white;
  opacity: 0.92;
  /*          h-offset v-offset blur spread color */
  box-shadow: 7px 5px 16px 2px #213;
}
img {
 padding: 0.6rem;
}
.dbug { border: 1px solid black; }
#wrapper { height: calc(100% - 3.2rem); }
.footnote {
 color: #213;
 position: relative;
 max-width: 76%;
 bottom: 0;
 margin: auto;
 margin-right: 1rem;
 text-align: right;
 vertically-align: bottom;
}
